@model MidTermSolution.Models.Reservation

@{
    ViewBag.Title = "Reservation Details";
}

<h2>Reservation Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Reservation Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            Customer ID :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditReservation", new { id = Model.ReservationID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "ReservationsList", null, new { @class = "btn btn-success" })
</p>
