@{
    ViewBag.Title = "About SMOKJ Inc.";
}
<h2>@ViewBag.Title</h2>


<p>
    SMOKJ is synonymous with outstanding levels of service and comfort delivered with utmost style.
    And today, we deliver even more to make sure we maintain our position at the forefront of the
    hospitality industry now and in the future.
</p>

<p>
    Our hotels are service driven, responsible, socially and locally connected and demonstrate a
    modern friendly attitude in everything we do. Our aim is to deliver our outstanding Yes I Can
    service, comfort and style where you need us.
</p>

<p>
    Always positive, always smiling and always professional, SMOKJ people set SMOKJ apart.
    Every member of the team has a dedication to Yes I Can hospitality – a passion for ensuring
    the total wellbeing and satisfaction of each individual guest. Imaginative, understanding and
    truly empathetic to the needs of the modern traveler, they are people on a special mission to
    deliver exceptional Extra Thoughtful Care.
</p>

<p>
    SMOKJ can be found in the places guest need us the most – near airports, city centers and resorts.
    Current locations can be found in the America's and Asia Pacific with plans in motion to expand even
    further throughout the world.
</p>
