@{
    ViewBag.Title = "Contact SMOJK";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SMOJK<br />
    HEADQUATERS, <br /> Toronto, ON
    <abbr title="Phone">P:</abbr>
    519.341.6105
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:asadeque@gmail.com">KAS.Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:msadeque8063@conestogac.on.ca">KAS.Marketing@gmail.com</a>
</address>
